save/Neuer Einkaufszettel.ekz
catalogs/PENNY.epk
catalogs/NETTO.epk
catalogs/LIDL.epk
catalogs/Eigener Produktkatalog.epk
catalogs/EDEKA.epk
catalogs/ALDI_Sued.epk
__pycache__/create_PDF.cpython-38.pyc
__pycache__/crypt.cpython-38.pyc
__pycache__/treenode.cpython-38.pyc
